<!-- <app-element-container></app-element-container> -->

<!-- <div>
    <app-ad-banner [ads]="ads"></app-ad-banner>
</div> -->

<!-- <app-auto-complete></app-auto-complete> -->

<!-- <app-form-array-padre></app-form-array-padre> -->
<!-- <app-corte-de-control></app-corte-de-control> -->

<!-- <div class="ui-g">
    <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
            InputText
        </div>
        <div class="ui-g-8">
            <input pInputText type="text" />
        </div>
    </div>
</div>

<div class="row">
    
        <div class="col-md-4">
            <label>InputText</label>
        </div>
        <div class="col-md-8">
            <input pInputText type="text" />
        </div>
    
</div> -->


<app-drop-file-upload></app-drop-file-upload>